.scoreContainer {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.win {
    display: flex;
    gap: 0.8rem;
}

.lose {
    display: flex;
    gap: 0.8rem;
}

.lives {
    display: flex;
    gap: 0.8rem;
}
