.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 550px;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.resetButton {
    width: 6rem;
    color: #fd512a;
}

.resetButton:hover:not(:disabled) {
    color: white;
    background-color: #fd512a !important;
}

button:hover:not(:disabled) {
    background-color: orange;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

button:disabled,
button[disabled] {
    color: black;
}
